<vw:import name='components/sidenav'></vw:import>
<style>

body.size-ml, body.size-l{
	padding-left:240px !important;
}
body.size-ml .nav, body.size-l .nav{
	padding-right:240px !important;
}
.nav{
	height:54px !important;
}

.button{
    vertical-align: middle;
}
.before{
	padding-top:72px;
	display:block;
}
.padding{
	padding:1em;
}
.padding-t1{
	padding: 1.5em ;
}
.padding-t2{
	padding: 2em ;
}

.padding-m1{
	padding: 1em 1.5em ;
}

.padding-m2{
	padding: 1em 2em ;
}
.td-icons a{
	margin-right:4px;
}
.bordered{
	border:solid 1px rgb(240,240,240);
}
.wp{
	padding:0 !important;
}
.table01{
	table-layout:fixed;
	width:100%;
	border:solid 1px rgb(240,240,240);
}

.table01 tr td,.table01 tr th{
	padding: 0.4em 1em;
	border-bottom:solid 1px rgb(240,240,240);
	border-left:solid 1px rgb(250,250,250);
	border-right:solid 1px rgb(250,250,250);
	/*word-break:break-all;*/
	text-overflow:text-ellipsis;
	overflow:hidden;
}
.table01 tr td{
	padding-top:0.5em;
	padding-bottom:0.5em;
}
.table01.list tr td{
	padding-top:1em;
}
.table01.no-border, .table01.no-border td{
	border:none;
}
</style>