<vw:section name='content'>
	<style>
		.white-x{
			background-color:rgba(255,255,255,0.6);
		}
	</style>
	<div class='login'>
		<module>logincontroller</module>
		<div voxs style='background-size:cover;background-position:center center;background-image:url(#{prefix}/static/img/writing-1149962_1280.jpg);position:fixed;z-index:-1;top:0;left:0;width:100%;height:100%'>
			<div style='position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2)' class='bxlack'>
			</div>
		</div>
		<form voxs event-submit='login_submit'>
			<div class='row' align='center' style='margin-top: 80px'>
				<div class='col s10 sl8 m6 l4 wp' align="left">
					<div class='container white-x fluid shadow-2'>

						<div class='container fluid text-center white-x' style='padding: 18px'>
							<div class='container fluid text-center text-color-default' style='width:85%;padding: 20px;padding-top:30px'>
								<!--<img class='s10 sl8 responsive-img' src='/site/admin.d0stream.com/image/59ae05443f3f860d9cc63c10/f/png/w/300'/>-->
								<h2><b>gob.ec.SRI.2</b></h2>
							</div>
						</div>

						<div class='container fluid white-x' style='margin-top:-24px'>

							<div class='container' style='padding:30px;padding-top:0;padding-bottom: 30px'>
								<div class='input-field' data-activecolor='color-default'>
									<label><span voxs>Usuario/email</span>:</label>
									<input name='usuario' value='#{login.email}' voxs type='text'/>
								</div>
								<div class='input-field' data-activecolor='color-default'>
									<label><span voxs>Contraseña</span>:</label>
									<input name='contraseña' value='#{login.password}' voxs type='password'/>
								</div>


								<div style='padding: 20px'></div>
								<div class='container fluid text-right'>
									<button class='await-action button container fluid waves-light color-default color-text'>
										<span voxs><span voxs>Iniciar sesión</span></span>
									</button>

									<div class='container fluid text-left clearfix' style='margin-top:10px;'>
										<div style='padding-top:10px;'>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</vw:section>
<vw:import name='master'></vw:import>
