<vw:section name='content'>


	<!--<background>color-back-hue-1</background>-->


	<div class='modal-back gray darken-2'></div>
	<vw:import name='components/navbar'></vw:import>
	<!--<vw:import name='admin/sidenav'></vw:import>-->
	<vw:import name='components/board-common'></vw:import>



	<div class='board container fluid main-1'>
		<module>personcontroller</module>
		<span class='before'></span>
		<!--
		<div class='title color-back-hue-4 color-back-text-4  shadow-1' style='padding: 15px'>
			<span voxs>Inicio</span>
		</div>

		-->
		<div class='container fluid body'>

				<div class='row' align="center">
					<div class='col s12 sl11' style='max-width:1150px' align='left'>
						<div class='row'>
							
							<div class='col s12' >
								
								<div class='bordered white container text-gray darken-1 relative text-left fluid padding' >
									
									<div class='col s8 text-gray darken-2'>
										<h3>Personas</h3>
									</div><div class='col s4 text-gray darken-2 relative'>
										<!-- botones -->
										<div style='position:absolute;right:0;'>
											<a href='javascript:void 0' class='button gray lighten-4 text-black waves-effect'>
												<i class='fa fa-plus'></i>
											</a>
										</div>
									</div>
								
									
									
									<!--
									<div class='row wp'>
										
										<div class='col s12 sl6 m4'>
											<div class='input-field' data-activecolor='color-default'>
												<label>Usuario</label>
												<input type='text' :value='args.username'/>
											</div>
										</div>
										<div class='col s12 sl6 m4'>
											<div class='input-field' data-activecolor='color-default'>
												<label>Id adicional</label>
												<input type='text' :value='args.idadicional'/>
											</div>
										</div>
										<div class='col s12 sl6 m4'>
											<div class='input-field' data-activecolor='color-default'>
												<label>Contraseña</label>
												<input type='password' :value='args.password'/>
											</div>
										</div>
										
										
										<div class='col s12'>
										</div>
										
										
										<div class='col s12 sl6 m4'>
											<div class='input-field' data-activecolor='color-default'>
												<label>Fecha inicio</label>
												<input type='date' :value='args.fecha_inicio' pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
											</div>
										</div>
										<div class='col s12 sl6 m4'>
											<div class='input-field' data-activecolor='color-default'>
												<label>Fecha fin</label>
												<input type='date' :value='args.fecha_fin' pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
											</div>
										</div>
										
										
										
										
										
										<div class='col s12 sl6 m4' style='margin-top:1.5em'>
											<a d-if='! listando' @click='listar' class='color-default button waves-effect color-text'><i class='fa fa-th'></i> Listar</a>
											<span d-if='listando' class='text-color-default'><i class='fa fa-spin fa-spinner'></i> Cargando</span>
											<span d-if='! listando'>
												<a d-if='comprobantes_length' @click='exportar' class='green button waves-effect color-text'><i class='fa fa-file-excel'></i> Exportar</a>
												
											</span>
										</div>
									</div>
									-->
									
								</div>
								
								<div style='padding:10px'></div>
								
								<div class='bordered white container text-gray darken-1 relative text-left fluid padding' >
									<div style='padding: 15px' d-nif='personas_length'>
										No tiene personas registradas
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>

		</div>

	</div>



</vw:section>
<vw:import name='master'></vw:import>
