
<div class='shadow-1 white card user-info' style='display:none;z-index: 999; position: fixed;top:20px;right:0;min-width: 260px;'>
	<div class='card-content relative'>

		<div voxs voxs-if='! user.picture_url' class='f3em circle light-green text-color-default lighten-4' style='padding: 0.3em 0.32em; position: absolute; left: 20px; top:20px;'>
				<i class='fa fa-user'></i>
		</div>


		<div voxs voxs-if='user.picture_url' class='f3em circle  text-color-default lighten-4' style='padding: 0.18em 0.45em; position: absolute; left: 20px; top:20px;'>
			<img voxs src='##{ imageGet ( user.picture_url_2 ,48, 48) }' class='circle image-user'/>
		</div>
		
		
		<div class='container' style='padding-left: 80px;'>
			<h5 style='font-weight: bold'>
				<span voxs>#{user.name || user.username}</span>
			</h5>
			<!--<a voxs class='text-color-default' href='#{prefix}/ui/account' push-state>
				<h5><span voxs>My account</span></h5></a>-->
		</div>
	</div>
	<div class='card-action'>
		<a href='javascript:void(0)' voxs event-click='salir-click' class='pull-right'><i class='fa fa-sign-out'></i> <span voxs>Salir</span></a>
	</div>
</div>



<div class='navbar-fixed'>
	<div class='nav'>
		<div class='nav-wrapper color-default color-text'>
			<span>&nbsp;&nbsp;&nbsp;</span>
			<!--<a class='brand-logo f1em'>
				<img class='responsive-img' src='#${context.assetUrl}img/logo-i.png' style='vertical-align: middle;margin-right: 12px;width:40px' /><span voxs>#{idioma.Comun.app}</span>
			</a>
			-->
			<ul class='pull-left'>
				<li>
					<a class='f2em more m-show-lt'  voxs event-click='menuClick'>
						<i class='fa fa-bars f1-5em' style='line-height:54px'></i>
					</a>
				</li>

			</ul>

			<ul class='pull-right'>


				<li>
					<a class='f2em more clearfix user-clic' href='javascript:void(0)' voxs event-click='userCard'>
						<div class='pull-left circle lightgreen lighten-4'>
							<span voxs voxs-if='! user.picture_url'>
								<i class='fa fa-user f1-5em'></i>
							</span>
							<span voxs voxs-if='user.picture_url'>
								<img voxs src='##{ imageGet ( user.picture_url_2 ,36, 36) }' style='vertical-align:middle' class='circle image-user' />
							</span>
							&nbsp;
							<span class='' style='text-overflow: ellipsis;'>
								<span voxs>#{user.name || user.username}</span>
								<span voxs voxs-if='!user'>
									<span voxs>Invitado</span>
								</span>
							</span>
						</div>
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>
