
<div style='font-size: 0.87em;' class='transitioned m-hide side-nav color-back-hue-1 color-back-text-1' data-main='body'>
	<div class='container fluid color-hue-3 color-back-text-2 text-center' style='height:54px;padding:1px 0;'>
		<!--
			<i class='fa f3em fa-user'></i>
			<h4 class='' style='text-overflow: ellipsis;'><span voxs>#{usuarioActual.personas[0].nombres} #{usuarioActual.personas[0].apellidos}</span><span voxs voxs-if='!usuarioActual'>
				<span voxs>#{idioma.Comun.invitado}</span>
			</span></h4>
		-->
		<!--<img class='s8 responsive-img' style='padding: 9px 0' src='${context.assetUrl}img/logo1.png'/>-->
		<h1 style='font-size:1.7em !important;font-weight:bold'>gob.ec</h1>
	</div>


	<ul>
		<li>
			<a class='text-gray upper'>Administración</a>
		</li>
		<li class='color-back-hue-4-hover'>
			<a href='#{prefix}/ui/persons' voxs @click='href'><i class='fa fa-user ic color-text-3'></i> <span>Personas</span></a>
		</li>
		<li class='color-back-hue-4-hover'>
			<a href='#{prefix}/ui/person/browser' voxs @click='href'><i class='fa fa-globe ic color-text-3'></i> <span>Navegador</span></a>
		</li>
		<li class='color-back-hue-4-hover'>
			<a href='#{prefix}/ui/tasks' voxs @click='href'><i class='fa fa-tasks ic color-text-3'></i> <span>Tareas</span></a>
		</li>
		<li class='color-back-hue-4-hover'>
			<a href='#{prefix}/ui/tributario' voxs @click='href'><i class='fa fa-balance-scale ic color-text-3'></i> <span>Estado tributario</span></a>
		</li>
		<li class='color-back-hue-4-hover'>
			<a href='#{prefix}/ui/config' voxs @click='href'><i class='fa fa-cog ic color-text-3'></i> <span>Configuración</span></a>
		</li>
	</ul>
	
	
</div>
