<vw:section name='content'>

	<div class='modal-back gray darken-2'></div>



	<div class='board container fluid main-1'>
		<module>x11</module>
		<span class='before'></span>
		<style>
			.padding {
				padding: 1em;
			}
			.scrollable{
				overflow:auto;
			}
			.no-v-padding{
				padding-top:0 !important;
				padding-bottom:0 !important;
			}
			.all-height{
				height:100%;
			}
			.padding-2 {
				padding: 2em;
			}
			.container.fluid:not(.padding){
				padding:0 !important;
			}
		</style>


		<script>
			$(function() {
				var src = $("<script>")
				src.attr("src", "/site/server.admin/static/e/0/js/socket.io.js")
				document.head.appendChild(src[0])
			})
		</script>
		<!--<link rel='stylesheet' href='/site/server.admin/static/e/0/xterm/xterm.css'></link>-->




		<div id='t-main'>
			<v-app id='inspired'>
				<div v-if='!connected' style='height:300px;position:relative;z-index:2' class="scrollable" :class="colors.background.background.default">
					<v-container grid-list-xl >
						
						<v-flex xs12 d-flex>
							<v-layout flex-child wrap>
								<v-flex class='no-v-padding' xs12 d-flex>
									<div style='padding:1em'>
										<h3>Kowix X11</h3>
									</div>
								</v-flex>
							</v-layout>
						</v-flex>
						
						<v-flex xs12 d-flex>
							<v-layout flex-child wrap>
								<v-flex class='no-v-padding' xs12 sm6 md4 d-flex>
									<div style='padding:1em;padding-bottom:0;'>
										<v-text-field :color='colors.background.primary.default' v-model="args.host" label="Regular" clearable></v-text-field>
									</div>
								</v-flex>
								<v-flex class='no-v-padding' xs12 sm6 md4 d-flex>
									<div style='padding:1em;padding-bottom:0'>
										<v-text-field :append-icon="show_password ? 'visibility_off' : 'visibility'"
											@click:append="show_password = !show_password"
											:color='colors.background.primary.default'
											v-model="args.password"
											:type="show_password ? 'text' : 'password'"
											label="Regular"></v-text-field>
									</div>
								</v-flex>
								
								<v-flex class='no-v-padding' xs12 sm6 md4 d-flex>
									<v-flex style='padding:1em;padding-bottom:0' :class="colors.background.background.default">
										<v-btn block style='margin:0;' :color="colors.background.primary.default" dark @click='connect'>Iniciar</v-btn>
									</v-flex>
								</v-flex>
							</v-layout>
						</v-flex>
						<v-flex xs12 d-flex>
							<div style='height:20px'></div>
						</v-flex>
					</v-container>					
				</div>
				
				<div v-if="connected" class='black' style='height:100%;position:fixed;top:0;left:0;z-index:100;width:100%'>
					<v-container class='fluid' grid-list-xl class="white" style='max-width:100%;height:100%'>
						<v-container class='fluid all-height relative'>
							
							<div class='container fluid all-height' style='font-family: monospace'>
								<img style='max-width: 100%;max-height:100%' id='image'>
								<!--
								<div style='height:20px;position:absolute;top:0;left:0' class='white--text'>
									Images: {{images}}
								</div>
								-->
							</div>
							<div style='height:20px'></div>
						</v-container>
					</v-container>
				</div>
				
				
			</v-app>
		</div>


		<!--
		<div class='container fluid body'>
			<div class='valign all-height'>
				<div class='valign-wrapper all-height'>
					
					
					<div class='container all-height fluid'>
						<div class='container fluid padding white z-depth-1' style='height:250px;position:absolute;top:0;'>
							<div class='container fluid padding' style='height:184px;overflow:auto;'>
								<div class='row' style='margin:0' >
									<div class='col s12'>
										<h3>Kowix console</h3>
									</div>
								</div>
								<div class='row' style='margin:0;margin-top:-10px'>
									<div class='col s12 sl6'>
										<div class='input-field' data-activecolor='color-default'>
											<label>Host</label>
											<input type='text' :value='args.host'/>
										</div>
									</div>
									<div class='col s12 sl6'>
										<div class='input-field' data-activecolor='color-default'>
											<label>Contraseña</label>
											<input type='password' :value='args.password'/>
										</div>
									</div>
									<div class='col s12' style='padding-top:10px;padding-bottom:10px'>
										<a class='button color-default color-text' @click='connect'>Iniciar</a>
									</div>
								</div>
							</div>
						</div>
						<div class='container all-height fluid gray lighten-4' style='padding-top:170px'>
							<div class='container all-height fluid padding-2'>
								<div class='container fluid all-height black relative'>
									<div class='container fluid black shadow-1' id='term'>
									</div>
									<div style='height:20px'></div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		-->

	</div>



</vw:section>
<vw:import name='master'></vw:import>
