<vw:section name='content'>
    <script type="text/javascript" >
        $("body").addClass("light-blue")
    </script>
	<title>Page not found</title>
    <style>
        .padding{
            padding: 1.5em 3em;
        }
    </style>
	<div class='row' align='center' style='margin:0 !important'>
	    <div class='col s12 sl10 m8 l6'>
	        <div class='valign container fluid'>
	            <div class='valign-wrapper all-height container fluid padding'>
    	            <div class='container fluid padding  text-white' style='margin-top:-0.5em'>
    	                <div style='font-size:5em;font-weight:700;margin-bottom:-20px'>
    	                    <h1>404</h1>
    	                </div>
    	                <h1>Oops! Page not found</h1>
    	            </div>
        	    </div>
	        </div>
	    </div>
	</div>
	
	
</vw:section>
<vw:import name='master'></vw:import>
</html>
