<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<!--SEO-->
<meta name="description" content="SRI bot">
<meta property="og:title" content="SRI bot" />
<!--<meta property="og:image" url="" />-->
<meta property="og:description" content="SRI bot"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="sidco"/>
<meta name="twitter:card" content="photo"/>

<!--
<meta name="referrer" content="never" />
<meta name="referrer" content="no-referrer" />
-->
