


<script>
	if(!window._require&& typeof require=="function")
		window._require=require
	window.module=undefined 
	window.require= undefined 
	window.exports= undefined 
</script>



<script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@1.4.2/dist/vuetify.min.js'></script>



<script type='text/javascript'>
	
	(function(){
		if(window.program)
			return 
			
		window.IDIndex='1'
		var paths= [
			
			"/static/e/1/js/jquery.min.js",
			"/static/e/1/js/kodhe/kodhe.core.js",
			"/static/e/1/js/kodhe/kodhe.core.web.js",
			"/static/e/21/js/program.js",
			"/static/e/1/js/moment-with-locales.min.js"
		]
		
		
		
		window.waitJquery= function(g){
			var exe=function(){
				if(window.jQuery){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			exe()
		}
		
		window.waitCore= function(g){
			var exe=function(){
				if(window.core && window.core.basic){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			window.waitJquery(exe)
		}
		window.waitCoreVW= function(g){
			var exe=function(){
				if(window.core && window.core.VW ){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			window.waitCore(exe)
		}
		
		
		window.waitReady= function(g){
			var exe=function(){
				if(window.core && window.core.VW && window.program){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			exe()
		}
		
		
		var prefix= location.pathname 
		var len= 1
		var parts= prefix.split("/")
		
		if(prefix.startsWith("/::")){
			len= 2
			if(parts[2]=="site"){
				len+= 2
			}
		}
		else{
			if(parts[1]=="site"){
				len+= 2
			}
		}
		var s 
		window.prefix= prefix=parts.slice(0, len).join("/")
		
		
		window.app= {
			uiUrl: prefix ,
			apiUrl: prefix + "/api"
		}
		
		
		var p , scripts=[]
		for(var i=0;i<paths.length;i++){
			p= paths[i]
			if(p.substring(p.length-4)==".css"){
				s= document.createElement("link")
				s.rel="stylesheet"
				s.href= prefix + paths[i]
				document.head.appendChild(s)
			}
			else{
				s= document.createElement("script")
				s.src= prefix + paths[i]
				s.type='text/javascript'
				s.setAttribute("mainpath", prefix + "/static/e/0/")
				scripts.push(s)
			}
			
		}
		
		document.head.appendChild(scripts[0])
		window.waitJquery(function(){
			document.head.appendChild(scripts[1])
		})
		
		
		window.waitCore(function(){
			document.head.appendChild(scripts[2])
		})
		
		window.waitCoreVW(function(){
			for(var i=3;i<scripts.length;i++){
				document.head.appendChild(scripts[i])
			}	
		})
		
		
	})()
	
	
</script>




<script type="text/javascript">
	/*global core*/
	window.init= function(){
		
		(function(){
			
			init.$=true

			// Iniciar aplicación ...
			var t= $("background").text()
			if(t){
				$("html").removeClass("color-back-default")
				$("html").addClass(t)
			}
		
			window.ThemeColors= {
				"primary": {
					"default": ["purple"],
					"hue_1": ["purple","lighten-1"],
					"hue_2": ["purple", "darken-3"],
					"hue_3": ["purple", "darken-2"],
					"hue_4": ["gray", "lighten-5"],
					"text_1": ["white"],
					"text_3": ["grey","darken-1"],
					"text_4": ["brown","darken-2"]
				},
				"accent": {
					"default": ["cyan","darken-1"],
					"hue_1": ["cyan"],
					"hue_2": ["cyan","darken-4"],
					"hue_3": ["purple","lighten-4"],
					"hue_4": ["grey", "darken-3"],
					"text_1": ["grey","darken-4"],
					"text_3": ["grey", "darken-4"],
					"text_4": ["white"]
				},
				"warning": {
					"default": ["red","lighten-4"],
					"text": ["red", "darken-3"],
					"hue_1": ["orange","lighten-4"],
					"text_1": ["oragen", "darken-3"]
				},
				"background": {
					"default": ["grey", "lighten-4"],
					"hue_2": ["deeporange"],
					"hue_1": ["grey", "lighten-3"],
					"hue_3": ["white"],
					"hue_4": ["grey", "lighten-5"],
					"text":  ["grey", "darken-3"],
					"text_3": ["brown", "darken-3"],
					"text_2": ["white"],
					"text_1": ["grey", "darken-2"],
					"text_4": ["grey", "darken-2"]
				}
			}

			/*s

			core.VW.Web.Elements.register()
			*/
			
			//var p=new core.dynvox.v2.DomParser()
			//p.parse($("html"))
			
			init.do()
			setTimeout(function(){
				$(window).resize()
			})

			program.WebSite.Application.current.start()	
			$("[data-mask]").each(function(){
				$(this).mask($(this).data("mask"))
			})


			
		})()

	}
	init.do= function(call){
		if(call)
			init.d.push(call)
		if(init.$){
			setTimeout(function(){
				while(call=init.d.shift()){
					call()
				}
			}, 40)

		}
	}
	window.waitReady(function(){
		init()
		
	})
	init.d=[]
</script>


