

<style>	
	html{
		overflow: auto !important;
	}
	module, background{
		display: none;
	}
	.show-at-start{
		display:none;
	}
	.before{
		padding-top:20px;
	}
	.button{
		box-shadow:none !important;
		border:solid 1px rgb(240,240,240) !important;
		border-radius: 6px !important;
	}
	.collection-item, .collection{
		border-color: rgb(240,240,240) !important;
	}
</style>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'/>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.4.2/dist/vuetify.min.css'/>